<main class="content">
  <div class="top">
    <div class="left">
      <img class="image" src="../../../../assets/images/login-image.jpg" />
    </div>
    <div class="right">
      <div class="right_top">
        <div>
          <img src="../../../../assets/images/logo.svg" alt="" />
        </div>
        <div class="form">
          <form action="">
            <input
              type="text"
              placeholder="Teléfono, usuario o correo electronico"
            />
            <input type="text" placeholder="Contraseña" />
            <button type="submit">Iniciar sesión</button>
          </form>
        </div>
        <div class="o">
          <div class="line"></div>
          <div class="text">o</div>
          <div class="line"></div>
        </div>
        <div class="facebook">
          <img src="../../../../assets/images/facebook-logo.svg" alt="" />
          <span>Iniciar sesión con Facebook</span>
        </div>
        <div class="forgot">
          <a href="">¿Has olvidado la contraseña?</a>
        </div>
      </div>

      <div class="right_center">
        <div>¿No tienes una cuenta? <a href="">Regístrate</a></div>
      </div>

      <div class="right_bot">
        <div class="download">
          <span>Descarga la aplicación.</span>
        </div>
        <div>
          <a href="">
            <img src="../../../../assets/images/app-store.png" alt="">
          </a>
          <a href="">
            <img src="../../../../assets/images/google-play.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div>
      <span>Información</span>
      <span>Blog</span>
      <span>Empleo</span>
      <span>Ayuda</span>
      <span>API</span>
      <span>Privacidad</span>
      <span>Condiciones</span>
      <span>Cuentas destacadas</span>
      <span>Hastags</span>
      <span>Ubicaciónes</span>
    </div>
    <div>
      <span>Español (España)</span>
      <span>© 2021 Instagram from Facebook</span>
    </div>
  </footer>
</main>
